
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(228, 227, 227);
}
.contenedor{
    background-color: rgb(248, 241, 241);
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
table, th, td{
    border: 2px solid rgb(255, 255, 255);
    border-collapse: collapse;
    background-color: rgb(114, 150, 248);
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
table, th{
    border: 5px solid white
}
th{
    background-color: rgb(36, 35, 35);
    color: white;
}
header{
    background-color: rgb(36, 35, 35);
    padding: 15px;
}
h1{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
h2{
    color: rgb(184, 228, 253);
    text-align: center;
    font-size: 18px;
    font-family: monospace;
    margin-top: 18px;
}
h3{
    font-family: monospace;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 50px;
    margin-bottom: 40px;
    color: rgb(36, 35, 35);
    text-align: left;
    font-size: 16px;
}
.data{
    background-color: rgb(36, 35, 35);
}
.empresa{
    border: 5px solid rgb(184, 228, 253);
}
p{
    font-family: monospace;
    margin-left: 55px;
    margin-bottom: 20px;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 350px;
}
.texto{
    color: rgb(114, 150, 248);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.derechos{
    text-align: center;
    padding: 25px;
}
footer{
    background-color: rgb(36, 35, 35);
    color: white;
}